[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
pyTelegramBotAPI = "==4.16.1 "
python-dotenv = "==1.0.1"
pydantic = "==2.6.4"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.11"